{% extends 'base.html' %}

{% block title %}Load And Strategy{% endblock %}
{% block content %}
            <!-- Main Content -->
            <div class="col-md-9 p-4">
               
                <div class="row">
                    <div class="col-md">
                        <div class="card ">
                            <div class="card-header">
                                <h5 class="card-title">Load And Strategy</h5>
                            </div>
                            <div class="card-body">
                                
                                
                                <div class="spec-item">
                                    <label class="form-label">Load Type</label>
                                    <input type="text" class="form-control" placeholder="eg: coal/manganese">
                                </div>
                                
                                <div class="spec-item">
                                    <label class="form-label">Total Load</label>
                                    <input type="text" class="form-control" placeholder="total in tons">
                                </div>
                                
                                <div class="spec-item">
                                    <label class="form-label ">Axle Load Limit</label>
                                    <input type="text" class="form-control" placeholder="axle load limit in tons">
                                </div>
                                
                                <div class="spec-item">
                                    <label class="form-label">Client Delivery Window</label>
                                    <input type="text" class="form-control" placeholder="eg: 2025/05/05 08:00-14:00">
                                </div>
                                
                                <div class="col-md-6 d-flex flex-column mb-3">
                                    <label class="form-label">Weather Impact Forecast</label>
                                    <select class="form-select">
                                      <option selected disabled>select option</option>
                                      <option>None</option>
                                                      <option>Minor</option>
                                                      <option>Severe</option>
                                    </select>
                                  </div>
                                
                            
                            </div>
                        </div>
                    </div>

                    
                </div>

                <div class="d-flex justify-content-end mt-4 gap-2">
                    <button type="button" class="btn btn-outline-secondary">Cancel</button>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap 5 JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    {% endblock %}